<h2>Create another group</h2>
<form method="POST" action="/groups">
	<input type="text" name="add_group" placeholder="choose a group name" />
	<button class="btn btn-primary">Add Group</button>
</form>
