<h2>Group Timeline</h2>

<form method='POST'>
	<input type='text' name='message' placeholder='go on, post something here' />
	<button class="btn btn-primary">Post</button>
</form>


<section class="your-posts">
  <h4>Your Posts</h4>
  <ul>
    <% posts.each do |post| %>
      <li><%= post.content %></li>
    <% end %>
  </ul>
</section>