<html>
  <head>
  	<link rel="stylesheet" type="text/css" href='/css/style.css'>
  </head>
  <body>
  	<section class="main">
	  	<div class="header">
	  		<h1>Collaborators</h1>
	  	</div>
	    <p><%= yield %></p>
	</section>
  </body>
</html>
