<html>
  <head>
    <link rel="stylesheet" type="text/css" href='/css/boostrap.css'>
    <link rel="stylesheet" type="text/css" href='/css/flat-ui.css'>
  	<link rel="stylesheet" type="text/css" href='/css/style.css'>
  </head>
  <body>
  	<section class="main">
	  	<div class="header">
	  		<h1>Collaborator.co.uk</h1>
	  	</div>
	    <p><%= yield %></p>
      <div class="footer">
        <a class='btn btn-danger logout-btn' href="/logout">Logout</a>
      </div>
	</section>
  </body>
</html>