<section>
	<div class="list_header">
		<h1>List of groups</h1>
	</div>
	<ul>
		<% groups.each do |group| %>
		  <li><a href="/groups/<%= group.url %>"><%= group.group_name %></a></li>
		<% end %>
	</ul>
	<a href="/group/create">Add another group...</a>
</section>