<html>
<head>
	<!-- The stylesheets -->
</head>
	<body>
		<section class="holder">
			<form method='POST'>
				<input type='text' name='message' />
				<button>Post</button>
			</form>
		</section>
	</body>
</html>