<form method='GET' action='/groups'>
<input name='username' type='text' placeholder='choose a username' />
<input name='password' type='password' placeholder'choose a password' />
<button>Sign up</button>
</form>