<h1>Please enter new user details (Username and Password)</h1>
<form method='POST'>
	<input type='text' name= 'username' placeholder= 'username' />
	<input type='text' name= 'password' placeholder= 'password' />
	<button>Submit</button>
</form>

<<ul>
  <% users.each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>