body {
	padding: 0;
	margin: 0;
}

.main {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
}

/* ==== HEADER & FOOTER STRIPS ==== */

.header-strip {
	position: relative;
	width: 100%;
	background-color: #2980B9;
	color: #ECF0F1;
	padding: 10px;
}

.footer-strip {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #2980B9;
}

.header-strip h1 {
	text-shadow: -2px -2px 2px #000;
}

nav {
	position: absolute;
	right: 30px;
	top: 10px;
}

nav > .btn {
	padding: 2px;
	padding-top: 10px;
	height: 30px;
}

/* ==== FORM ==== */

.forms {
	margin-top: 40px;
}

input {
	padding: 5px;
	width: 75%;
	border: 2px solid red;
	text-align: center;
	font-size: 20px;
}

button {
	margin-top: 10px;
	height: 40px;
	width: 100px;
	background-color: #9B59B6;
	border-radius: 6px;
	color: #000;
}

button:hover {
	box-shadow: 0px 0px 5px #000;
}

a {
	height: 40px;
	width: 100px;
	border-radius: 6px;
	color: #000;
	padding: 10px;
	text-decoration: none;
}

.create-account, .login-account {
	border-radius: 6px;
}

.create-account {
	background-color: #F39C12;
}

.login-account {
	background-color: #27AE60;
}

/* ==== GROUPS PAGE ==== */

.group-list {
	margin-top: 40px;
	padding: 20px 0;
	border-radius: 6px;
	background-color: #ECF0F1;
}

.group-list > h2 {
	width: 70%;
	margin: 0 auto;
	border: 4px solid #E74C3C;
	border-bottom: none;
	border-radius: 6px 6px 0px 0px;
}

.group-list > ul {
	margin: 0 auto 10px;
	width: 70%;
	border: 4px solid #E74C3C;
	border-radius: 6px;
	background-color: #E74C3C;

}
.group-list > ul > li {
	font-size: 20px;
	text-transform: uppercase;
	padding: 5px;
}

.group-list > ul > li > a {
	color: #ECF0F1;
}
.group-list > ul > li > a:hover {
	background-color: #fff;
	color: #7F8C8D;
}

/* ==== POSTS ==== */
.capital {
	text-transform: uppercase;
}

.posts {
	border: 1px solid #000;
	border-top: 8px solid #3498DB;
	padding-top: 5px;
}

h1 {
	margin: 0;
}
h2 {
	padding: 5px;
}
p {
	margin: 0;
}

.list_header {
	background-color: #4099FF;
	padding: 10px 0;
	margin: 0 auto;
}

ul {
	list-style: none;
	background-color: #fff;
	padding: 20px 10px;
}

ul li {
	margin-bottom: 15px
}

